<html>
    <head></head>
    <body>
        <h3 class="secundario">Estimado(a): <small>{{ nombre }}</small></h3>
        <p>La respuesta a tu petición de soporte</p>
        <h2>{{ titulo }}</h2>
        <p>{{ descripcion }}</p>
        <hr>
        <h2>Respuesta</h2>
        <p>{{ respuesta }}</p>
    </body>
</html>